.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: #282c34 solid 2px;
  background-color: white;
}


nav {
  display: flex;
  flex-direction: row;

}

.logoTicketera {
  margin-left: 20px;
  display: flex;
  font-size: 20px;
}

.logoTicketera img {
  margin-right: 10px;
}

button {
  margin: 10px;
  background-color: rgb(59, 96, 185);
  color: aliceblue;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 5px;
}
button:hover{
  background-color: rgb(44, 105, 44);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.greeting {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
